body {
    background-color: #121314;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
}

main {
    width: 80%;
    margin: 50px 20% 0 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.line {
    background-color: #fff;
    width: 100% ;
    height: 0.5px;
}

.rift_icon {
    width: 50px;
}
