services:
  coturn:
    image: coturn/coturn:latest
    restart: always
    network_mode: host
    volumes:
      - ./coturn/turnserver.conf:/etc/coturn/turnserver.conf:ro
    command: ["-c", "/etc/coturn/turnserver.conf"]
  certbot:
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./nginx:/etc/nginx/conf.d
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/html; done;'"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:16
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=riftadmin
      - POSTGRES_PASSWORD=riftadmin
      - POSTGRES_DB=rift
    ports:
      - "5432:5432"

  django:
    build: .
    volumes:
      - static_data:/Rift/staticfiles
      - media_data:/Rift/media
    expose:
      - 8000
    environment:
      - DEBUG=False
      - POSTGRES_USER=riftadmin
      - POSTGRES_PASSWORD=riftadmin
      - POSTGRES_DB=rift
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
      - redis
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             daphne -b 0.0.0.0 -p 8000 Rift.asgi:application"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 5s
      timeout: 3s
      retries: 5

  nginx:
    image: nginx:1.21
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_data:/Rift/staticfiles:ro
      - media_data:/Rift/media
      - /etc/letsencrypt:/etc/letsencrypt/
      - ./certbot/www:/var/www/certbot
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      django:
        condition: service_healthy

volumes:
  pg_data:
  static_data:
  media_data:
