services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:16
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=riftadmin
      - POSTGRES_PASSWORD=riftadmin
      - POSTGRES_DB=rift
    ports:
      - "5432:5432"

  django:
    build: .
    volumes:
      - static_data:/Rift/staticfiles
      - media_data:/Rift/media
    expose:
      - 8000
    environment:
      - DEBUG=False
      - POSTGRES_USER=riftadmin
      - POSTGRES_PASSWORD=riftadmin
      - POSTGRES_DB=rift
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
      - redis
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             daphne -b 0.0.0.0 -p 8000 Rift.asgi:application"

  nginx:
    image: nginx:1.21
    ports:
      - "8080:80"
    volumes:
      - static_data:/var/www/html/static
      - media_data:/var/www/html/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django

volumes:
  pg_data:
  static_data:
  media_data:
