{% load static %}
<!DOCTYPE html>
<html lang="ru" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/blur.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="manifest" href="/manifest.json">
    {% block css_extra %}{% endblock %}
</head>
<body>
    <div class="blur"></div>
    <div class="fullscreen_image_view" onclick="off_blur(); closeImage();"></div>
    <div class="context_menu bg"></div>
    <div class="notification bg">
        <div class="avatar_container"><img class="notification_img talker" src=""></div>
        <div class="notification_content">
            <p class="notification_header" style="color: #fff;"><b></b></p>
            <p class="notification_text" style="color: #fff;"></p>
        </div>
        <div class="notification_deco"></div>
    </div>
    <div class="modal bg">
        <div class="modal_up">
            <button class="small" onclick="closeModal(); off_blur()">
                <svg class="icon" width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </button>
            <span class="title font-bold"></span>
        </div>
        <div class="modal-content">
            <div class="element">
                <label for="search" class="label">Поиск</label>
                <input type="text" name="search" class="input">
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block js_extra %}{% endblock %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/blur.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/hotkeys.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/message_tracker.js' %}"></script>
    <script src="{% static 'js/chats_tracker.js' %}"></script>
    <script src="/static/js/change_language.js"></script>
    <script>
        let settings_categories = document.querySelectorAll(".category");
        settings_categories[3].addEventListener("click", function() {
            window.location.href = "{% url 'authentication:logout' %}";
        });
    </script>
    <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
            .then(reg => console.log('SW registered'))
            .catch(err => console.log('SW error:', err));
        }
    </script>
</body>
</html>
