{% extends 'main_legal/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Пользовательское соглашение{% endblock %}
{% block content %}
    <div class="flex">
        <img class="rift_icon" src="{% static 'images/icon.png' %}">
        <h1>Пользовательское соглашение</h1>
    </div>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi mollitia libero ducimus doloremque autem vero repellendus, corrupti aspernatur reprehenderit eos consectetur cum quasi hic, exercitationem alias dignissimos laudantium. Quod, et.</p>
{% endblock %}
