body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assistant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    text-align: center;
}

.assistant h1 {
    font-size: 64px;
    color: #fff;
}

.assistant p {
    margin-block: 20px;
    font-size: 28px;
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons a {
    margin-inline: 5px;
}

.buttons a button {
    display: flex;
    align-items: center;
}