body.avatar-upload {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    font-size: 48px;
    color: #fff;
}

form button {
    display: flex;
    align-items: center;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
    margin: 20px 0;
}

.file-input-wrapper input[type=file] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    backdrop-filter: blur(300px);
    color: #fff;
    border: none;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-input-label:hover {
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    color: #000;
}
