.video-call-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 310px);
    height: 300px;
    overflow: hidden;
    transform: translateY(-410px);
}

.video-call-overlay.active { 
    display: block;
    transform: translateY(0);
}

.video-call-overlay.active~.chat_content .messages {
    height: calc(100vh - 205px - 310px) !important;
}

.video-call-overlay.hide {
    width: calc(100% - 310px + 210px);
}

.video {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 220px;
    overflow: hidden;
    gap: 10px;
}

.remoteVideoContainer, .localVideoContainer {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    padding: 0 !important;
    transition: outline 0.2s ease;
}

.remoteVideoContainer.calling {
    animation: calling 1.5s ease infinite;
}

@keyframes calling {
    0%, 100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

.remoteVideoContainer.speaking, .localVideoContainer.speaking {
    outline: 2px solid #66ea96;
}

#localVideo, #remoteVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 !important;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#localVideo.video-disabled, #remoteVideo.video-disabled {
    opacity: 0;
    pointer-events: none;
}

.call-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.call-status {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.call-duration {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    z-index: 10;
    font-weight: 600;
}

#remoteVideoInfo, #localVideoInfo {
    background-color: #171819;
    padding: 8px 15px;
    border-radius: 25px;
    color: #fff;
}

.videoInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    width: 100%;
}

.micro_status {
    display: none;
}

.micro_status.muted {
    display: block;
}
