.video-call-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 310px);
    height: 300px;
    overflow: hidden;
    transform: translateY(-410px);
}
.video-call-overlay.active { 
    display: block;
    transform: translateY(0);
}

.video {
    justify-content: center;
    width: 100%;
    height: 200px;
}

#localVideo, #remoteVideo {
    width: 200px;
    height: 150px;
    margin: 30px 10px;
}

.call-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.call-status {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}
