.loading {
    width: 100px;
    height: 6px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    background-color: #fff;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    left: 0;
    transform: translate(-50%);
    animation: load 2s 0s infinite;
}

@keyframes load {
    25%, 75% {
        width: 50%;
        left: 50%;
    }
    50% {
        width: 0;
        left: 100%;
    }
}

.blur_loader {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}
