.loading {
    width: 50px;
    height: 6px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    background-color: #fff;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    left: 0;
    transform: translate(-50%);
    animation: load 1.5s linear infinite;
}

@keyframes load {
    0% {
        width: 0;
        left: 0;
    }
    25%, 75% {
        width: 50%;
        left: 50%;
    }
    50% {
        width: 0;
        left: 100%;
    }
    100% {
        width: 0;
        left: 0;
    }
}

.blur_loader {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    object-fit: cover;
}

/* .blur_loader::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -50%;
    height: 200%;
    width: 10%;
    transform: rotateZ(15deg);
    filter: blur(10px);
    animation: move 1.5s ease infinite;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    object-fit: cover;
} */

@keyframes move {
    to {
        left: 150%;
    }
}
