* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    /* outline: 0.1px solid red; */
}

.text_warn {
    color: #ff0000;
}

.check {
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    width: 55px;
    height: 30px;
    border-radius: 100px;
    position: relative;
    margin: 10px;
}

.check .status {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    border-radius: 100px;
}

.check:has(input:checked) .status {
    top: 3px;
    left: calc(100% - 24px - 3px);
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
}

.check:has(input:checked) {
    background-color: rgba(123, 233, 164, 0.5);
    outline: 2px solid rgba(123, 233, 164, 0.5);
}

.check input {
    accent-color: rgb(123, 233, 164);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

.font-bold {
    font-weight: bold;
}

.icon {
    margin-inline: 5px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.small {
    outline: 2px solid rgba(90, 90, 90, 0.3);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2) !important;
    margin: 0;
    padding: 0 !important;
    width: 50px !important;
    height: 50px !important;
    margin-block: 5px;
    position: relative;
}

.smaller {
    outline: 2px solid rgba(90, 90, 90, 0.3);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2) !important;
    margin: 0;
    padding: 0 !important;
    width: 35px !important;
    height: 35px !important;
    margin-block: 5px;
    position: relative;
    background-color: transparent;
}

.small:hover, .smaller:hover {
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164) !important;
    outline: 2px solid rgb(123, 233, 164);
    color: #000;
}

.small .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.bg {
    background-color: rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.blured {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn, .btn_red {
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}

.start {
    border-radius: 25px 0 0 25px;
}

.center {
    border-radius: 0;
}

.end {
    border-radius: 0 25px 25px 0;
}

.pin {
    width: 40px !important;
    height: 40px !important;
    display: none !important;
}

.pin .icon {
    position: absolute !important;
    top: 11px !important;
}

.more {
    margin-right: 10px;
    display: none;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    overflow: visible;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    overflow: visible;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    color: #000;
}

.btn_red:hover {
    box-shadow: 0 10px 20px rgba(255, 14, 14, 0.3);
    background-color: rgb(255, 14, 14);
    outline: 2px solid rgb(255, 14, 14);
    color: #000;
}

.head {
    background: rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.head h1 {
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    z-index: 200;
}

.head p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.6;
}

.head button {
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
}

.head button:hover {
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
}

.gradient-green {
    background: linear-gradient(135deg, #66ea96, #1a8e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.input {
    background-color: rgba(90, 90, 90, 0.2);
    outline: 2px solid rgba(90, 90, 90, 0.3);
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    margin: 10px;
}

.input:user-invalid {
    box-shadow: 0 10px 20px rgba(255, 14, 14, 0.3) !important;
    background-color: rgb(255, 14, 14) !important;
    outline: 2px solid rgb(255, 14, 14) !important;
    animation: shake 0.2s ease;
}

@keyframes shake {
    25%, 75% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
}

.input:focus {
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    color: #000;
}

.element {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block: 15px;
    padding: 5px;
}

.label {
    font-size: 24px;
    color: #fff;
    margin: 0 0 5px 5px;
}

.notification {
    transform: translate(calc(100% + 20px));
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 10000;
}

.notification.show {
    display: block;
    transform: translate(0);
    transition: all 0.5s ease;
}

.notification_content {
    margin-left: 10px;
}

.notification_deco {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    animation: none;
}

@keyframes notice {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
