.modal {
    display: none;
    padding: 20px !important;
}

.modal.visible {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    min-height: 600px;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55) !important;
}

.modal_up {
    display: flex;
    align-items: center;
    padding: 5px;
}

.title {
    margin-left: 15px;
    font-size: 28px;
    color: #fff;
}
