.settingsPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.settingsPanel.open {
    display: block;
}

#settingsButton {
    display: none;
}

#settingsButton.open {
    display: block;
}

.settings_up {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 100;
    display: flex;
    align-items: center;
}

.settings_categories {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 250px;
    min-height: calc(100vh - 150px);
    height: auto;
    z-index: 100;
    padding: 10px;
}

.category {
    height: 30px;
    overflow: visible;
    display: flex;
    align-items: center;
    padding: 15px !important;
    margin-block: 10px;
}

.category:last-child {
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
}

.category:hover p {
    color: #000 !important;
}
