.category:hover p {
    color: #000 !important;
}

.settings_category {
    padding: 5px 10px;
    margin: 10px;
}

.accountSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountSettings .username {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px 0 0;
}

.accountSettings .change_username {
    padding: 10px;
}

.accountSettings .logout_btn {
    width: calc(100% - 20px);
    padding: 5px 10px;
    margin: 10px;
    justify-content: center;
}

.change_username_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styleSettings {
    color: #fff;
    font-size: 18px;
}

.change_lang_btn {
    padding: 5px 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 10px;
}
