@import url('../../lib/fonts.css');

* {
    color: #fff;
}

header {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    border-radius: 150px !important;
    padding: 30px !important;
    display: flex;
    align-items: center;
    z-index: 9;
}

@keyframes slideDown {
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 100%;
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.header-main {
    position: fixed;
    top: 10px;
    left: 50%;
    border-radius: 150px !important;
    padding: 30px !important;
    display: flex;
    align-items: center;
    width: auto;
    transform: translateX(-50%) translateY(-50px);
    opacity: 0%;
    animation: slideDown 0.8s ease forwards;
}

.font {
    font-family: 'Intro';
    font-weight: 1000;
}

.font-bold {
    font-family: 'IntroBold';
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-inline: 10px;
    font-size: 32px;
    cursor: pointer;
    z-index: 11;
}

.select_bar {
    border-radius: 150px !important;
    margin: 5px !important;
    z-index: 10;
    position: absolute;
    padding: 5px !important;
    height: 40px;
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    width: 80px;
}

.btn {
    margin: 10px;
    border-radius: 60px;
    padding: 10px !important;
}

.btn a {
    font-size: 24px !important;
}

.section {
    width: 80%;
    overflow-y: hidden;
    min-height: 800px;
}

main {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 250px;
    position: relative;
    left: calc(50% - 250px / 2);
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 0.2s ease forwards;
}

#name {
    text-align: center;
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 0.4s ease forwards;
    font-size: 48px;
}

#desc, #desc2, #desc3 {
    text-align: center;
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 0.6s ease forwards;
    font-size: 24px;
}

#desc2 {
    animation: slideUp 0.8s 0.8s ease forwards;
    margin-block: 15px;
}

#desc3 {
    animation: slideUp 0.8s 1.6s ease forwards;
    font-size: 32px;
}

#item1 {
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 1s ease forwards;
    margin-block: 15px;
    font-size: 24px;
}

#item2 {
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 1.2s ease forwards;
    margin-block: 15px;
    font-size: 24px;
}
#item3 {
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 1.4s ease forwards;
    margin-block: 15px;
    font-size: 24px;
}

.start {
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 1.8s ease forwards;
    display: block;
    margin: 20px auto;
    font-size: 32px;
    padding: 10px 30px !important;
}

.start:hover {
    color: #fff;
}

.login_form p a:hover {
    text-decoration: underline;
    text-decoration-color: #66ea96;
}

.login_form p a {
    text-decoration-color: #66ea96;
}
