@import url('../../lib/fonts.css');

* {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    padding: 10px 0;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.header-main {
    border-radius: 150px !important;
    padding: 30px !important;
    display: flex;
    align-items: center;
    width: auto;
    transform: translateY(-50px);
    opacity: 0%;
    animation: slideDown 0.8s ease forwards;
}

.header-extra {
    border-radius: 150px !important;
    padding: 25px 30px !important;
    display: flex;
    align-items: center;
    width: auto;
    transform: translateY(-50px);
    opacity: 0%;
    animation: slideDown 0.8s ease forwards;
    margin-left: 10px;
}

.font {
    font-family: 'Intro';
    font-weight: 1000;
}

.font-bold {
    font-family: 'IntroBold';
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-inline: 10px;
    font-size: 32px;
    cursor: pointer;
    z-index: 11;
}

.select_bar {
    border-radius: 150px !important;
    margin: 5px !important;
    z-index: 10;
    position: absolute;
    padding: 5px !important;
    height: 40px;
    box-shadow: 0 10px 20px rgba(123, 233, 164, 0.3);
    background-color: rgb(123, 233, 164);
    outline: 2px solid rgb(123, 233, 164);
    width: 80px;
}

.btn {
    margin: 10px;
    border-radius: 60px;
    padding: 10px !important;
}

.btn a {
    font-size: 24px !important;
}

.section {
    width: 80%;
    overflow-y: hidden;
    min-height: 800px;
    margin: 50px 0;
}

.section:nth-child(1) {
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    opacity: 0%;
    transform: translateY(50px);
    animation: slideUp 0.8s 0.4s ease forwards;
    display: block;
    margin: 20px auto;
    font-size: 32px;
    padding: 10px 30px !important;
}

.start:hover {
    color: #fff;
}

.login_form p a:hover {
    text-decoration: underline;
    text-decoration-color: #66ea96;
}

.login_form p a {
    text-decoration-color: #66ea96;
}

#section-main {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#section-main video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    will-change: transform;
    transform: translateY(var(--scroll, 0));
}

#section-main .icon {
    position: absolute;
    bottom: 10px;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.select-lang-btn {
    cursor: pointer;
}

.select-lang-btn:hover {
    transform: scale(1.2);
}

#section-info h1 {
    font-size: 72px;
    margin: 50px 0;
    text-align: center;
}

.images_carousel {
    /* background-color: red; */
    overflow-x: scroll;
}

.images_carousel .image {
    background-color: #1f1f1f;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    width: 370px;
    height: 860px;
    text-align: center;
}

.images_carousel .image img {
    width: 350px;
    border-radius: 10px;
}

.images_carousel .image label {
    margin: 20px 0 0 0;
    height: 60px;
    overflow: visible;
}

.developer {
    width: 600px;
    font-size: 32px;
    background-color: #1f1f1f;
    border-radius: 100px;
    padding: 30px;
    margin: 10px;
}

.developers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
