@media (min-width: 0px) and (max-width: 828px) {
    .hide_chats {
        display: none !important;
    }
    .chats {
        height: calc(100vh - 100px) !important;
    }
    .chats_menu {
        width: 100% !important;
        border-radius: 0;
    }
    .chat_content.active {
        width: calc(100% + 10px) !important;
        border-radius: 0;
    }
    .settings, .user_info_extra {
        display: block !important;
    }
    .message {
        max-width: 100% !important;
    }
    .messages {
        width: calc(100% + 50px);
        margin-left: -30px;
    }
}

@media (max-width: 520px) {
    .upper_chat, .send_message_field, .message-form {
        height: 60px !important;
    }
    .message-form {
        padding: 0 10px !important;
    }
    .upper_chat .close_chat, .upper_chat .avatar_container, .upper_chat .right .small, .message .avatar_container {
        width: 40px !important;
        height: 40px !important;
    }
    .left, .right {
        height: 100%;
    }
    .messages {
        width: calc(100% + 50px);
        height: calc(100vh - 205px + 30px) !important;
        margin-top: 40px !important;
    }
    .message {
        padding: 10px !important;
        border-radius: 10px !important;
    }
    .message .message_content {
        font-size: 14px;
    }
    .message .message_content .message_time {
        bottom: 5px !important;
        font-size: 10px !important;
    }
    .message-form .btn {
        width: 40px !important;
        height: 40px !important;
    }
    .message-form .send_message_input {
        width: calc(100% - 90px) !important;
        height: 40px !important;
        font-size: 14px;
    }
    .message_text {
        top: 28px !important;
    }
    .send_message_field.big {
        height: 150px !important;
    }
    .images_preview {
        bottom: 60px !important;
    }
    .image_preview_container {
        width: 50px !important;
        height: 50px !important;
        margin: 3px !important;
    }
}

@media (max-width: 384px) {
    .message-form .btn:nth-child(3) {
        display: none !important;
    }
    .message-form .btn:nth-child(4) {
        display: none !important;
    }
    .message-form .btn:nth-child(5) {
        border-radius: 25px !important;
    }
    .message-form .send_message_input {
        width: calc(100% - 100px) !important;
    }
    .pin {
        display: block !important;
    }
    .more {
        display: block;
    }
    .right .small:nth-child(1) {
        display: none;
    }
    .right .small:nth-child(2) {
        display: none;
    }
    .right .small:nth-child(3) {
        display: none;
    }
    .right {
        width: 50px;
    }
    .left {
        width: calc(100% - 50px);
    }
    .image_preview_container {
        width: 45px !important;
        height: 45px !important;
        margin: 2px !important;
    }
    .context_menu {
        height: auto !important;
        min-width: auto !important;
        max-height: auto !important;
        overflow-y: visible !important;
    }
}
